/* 
white: #FFFFFF
black: #151515
grey (paragraph): #505050
grey (copyright): #D7D7D7
light grey: #ECECEC
*/

html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    color: #151515;
}

p {
    line-height: 1.4;
    color: #505050;
}

.view-more {
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    color: #151515;
    margin: 0 0 3em 0;
    cursor: pointer;
}

/* NAV BAR */
nav {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    margin: 0 8vw;
    height: 4em;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.logo-icon {
    width: 23px;
    height: 23px;
}

.logo-text {
    font-size: 0.843rem;
}

.nav-links {
    display: flex;
    gap: 2em;
    align-items: center;
}

.nav-links h3 {
    display: none;
}

.link a {
    font-size: 0.75rem;
    font-weight: 600;
    text-decoration: none;
    color: #151515;
}

.fa-bars {
    cursor: pointer;
}


/* ARTICLE SECTION*/

article {
    margin-bottom: 2.5em;
}

article img {
    width: 100%;
}

.article-date {
    font-size: 0.875rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.article-title {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.3em;
}

.article-text {
    margin: 0;
}


/* GRID HOME*/

.main-content.home {
    display: grid;
    grid-template-rows: 30% repeat(3, auto) 5vw 3em;
}

.main-content {
    grid-template-columns: 5vw auto 5vw;
}

.main-image.home {
    width: 100%;

    grid-row: 1 / 6;
    grid-column: 1 / -1;
}

.main-date.home {
    font-size: 0.75rem;

    grid-row: 2 / 3;
    grid-column: 2 / -2;
}

.main-title.home {
    font-size: 2rem;
    margin: 0 0 0.3em 0;

    grid-row: 3 / 4;
    grid-column: 2 / -2;
} 

.main-subtitle.home {
    margin: 0;

    grid-row: 4 / 5;
    grid-column: 2 / -2;
} 

.main-date.home, 
.main-title.home, 
.main-subtitle.home {
    align-self: self-end;
    color: #FFFFFF;
}


.one.home {
    grid-row: 7 / 8;
    grid-column: 2 / -2;
}

.two.home {
    grid-row: 8 / 9;
    grid-column: 2 / -2;
}

.three.home {
    grid-row: 9 / 10;
    grid-column: 2 / -2;
}

.four.home {
    grid-row: 10 / 11;
    grid-column: 2 / -2;
}

.five.home {
    grid-row: 11 / 12;
    grid-column: 2 / -2;
}

.six.home {
    grid-row: 12 / 13;
    grid-column: 2 / -2;
}

.seven.home {
    grid-row: 13 / 14;
    grid-column: 2 / -2;
}

.eight.home {
    grid-row: 14 / 15;
    grid-column: 2 / -2;
}

.nine.home {
    grid-row: 15 / 16;
    grid-column: 2 / -2;
}


/* GRID BLOG*/

.main-content.blog {
    display: grid;
    grid-template-rows: 2em repeat(11, auto);
}

.main-date.blog {
    grid-row: 2 / 3;
    grid-column: 2 / -2;
    
    font-size: 0.75rem;
    margin: 0;
}

.main-title.blog {
    grid-row: 3 / 4;
    grid-column: 2 / -2;

    font-size: 2rem;
    margin: 0.5em 0;
} 

.main-subtitle.blog {
    grid-row: 4 / 5;
    grid-column: 2 / -2;

    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 2em;
} 

.main-image.blog {
    grid-row: 5 / 6;
    grid-column: 2 / -2;

    width: 100%;
}

.longtxt.blog, 
.longtxt.about-me {
    grid-row: 6 / 7;
    grid-column: 2 / -2;

    margin: 1em 0;
}

.longtxt.blog .title, 
.longtxt.about-me .title {
    font-weight: 700;
    padding: 0.3em 0;
    color: #151515;
}

.recent-posts {
    grid-row: 7;
    grid-column: 2 / -2;

    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.5em;
}

.one.blog {
    grid-row: 8 / 9;
    grid-column: 2 / -2;
}

.two.blog {
    grid-row: 9 / 10;
    grid-column: 2 / -2;
}

.three.blog {
    grid-row: 10 / 11;
    grid-column: 2 / -2;
}


/* GRID ABOUT_ME*/

.main-content.about-me {
    display: grid;
    grid-template-rows: repeat(8, auto);
}

.main-image.about-me {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    width: 50%;
    margin: 2em 0;
}

.main-title.about-me {
    grid-row: 2 / 3;
    grid-column: 2 / -2;

    font-size: 2rem;
    margin: 0;
} 

.main-subtitle.about-me {
    grid-row: 3 / 4;
    grid-column: 2 / -2;

    font-size: 1rem;
    margin-bottom: 0.5em;
} 

/* FOOTER */
footer {
    background-color: #202020;
    align-items: center;
    text-align: center;
    padding: 3em 0;
    font-size: 0.75rem;

}

.blog-name {
    color: #ECECEC;
    font-weight: 700;
    margin: 0;
}

.copyright {
    color: #D7D7D7;
    margin: 0;
}


/* UTILITY */

.hide {
    display: none;
}


/* MEDIA QUERIES*/

@media (min-width: 650px) {

    .main-content.blog, 
    .main-content.about-me, {
        margin-bottom: 2.5em;
    }

    .nav-links h3 {
        display: block;
    }

    .fa-solid.fa-bars {
        display: none;
    }

    /* HOME */
    .main-date.home {
       font-size: 2vw;
    }

    .main-title.home {
        font-size: 5vw;
     }

     .main-subtitle.home {
        font-size: 2vw;
        max-width: 75vw;
     }

     .main-content.home {
        grid-template: 30% repeat(3, auto) 5vw 3em auto 2em auto 2em auto / 4vw auto 3vw auto 3vw auto 4vw;
    }

    .one.home {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
    }

    .two.home {
        grid-row: 7 / 8;
        grid-column: 4 / 5;
    }

    .three.home {
        grid-row: 7 / 8;
        grid-column: 6 / 7;
    }

    .four.home {
        grid-row: 9 / 10;
        grid-column: 2 / 3;
    }

    .five.home {
        grid-row: 9 / 10;
        grid-column: 4 / 5;
    }

    .six.home {
        grid-row: 9 / 10;
        grid-column: 6 / 7;
    }

    .seven.home {
        grid-row: 11 / 12;
        grid-column: 2 / 3;
    }

    .eight.home {
        grid-row: 11 / 12;
        grid-column: 4 / 5;
    }

    .nine.home {
        grid-row: 11 / 12;
        grid-column: 6 / 7;
    }

    /* BLOG */
    .main-content.about-me,
    .main-content.blog {
        grid-template-columns: 4vw repeat(2, 3vw) auto repeat(2, 3vw) auto repeat(2, 3vw) auto repeat(2, 3vw) 4vw;
    }

    .main-content.blog {
        grid-template-rows: 2em repeat(3, auto) 40vw repeat(7, auto);
    }

    .main-date.blog {
        font-size: 2vw;
        
        grid-column: 3 / 5;
    }
 
     .main-title.blog {
        grid-column: 3 / -3;

        font-size: 5vw;
    }
 
    .main-subtitle.blog {
        grid-column: 3 / -3;

        font-size: 2vw;
        max-width: 75vw;
      }

    .main-image.blog {
        grid-row: 5 / 6;
        grid-column: 2 / -2;

        object-fit: cover;
        object-position: 0 1%;
        height: 100%;
    }

    .longtxt.blog {
        grid-column: 3 / -3;
    }

    .recent-posts {
        grid-row: 7;
        grid-column: 2 / -2;
    }
 
    .one.blog {
        grid-row: 8 / 9;
        grid-column: 2 / 5;
    }
 
    .two.blog {
        grid-row: 8 / 9;
        grid-column: 6 / 9;
    }
 
    .three.blog {
        grid-row: 8 / 9;
        grid-column: 10 / -2;
    }

    .four.blog {
        grid-row: 9 / 10;
        grid-column: 2 / 3;
    }

    .five.blog {
        grid-row: 9 / 10;
        grid-column: 4 / 5;
    }

    .six.blog {
        grid-row: 9 / 10;
        grid-column: 6 / 7;
    }

     /* ABOUT-ME */
     .main-content.about-me {
        grid-template: 2em repeat(8, auto) / 4vw repeat(2, 3vw) auto repeat(2, 3vw) auto repeat(2, 3vw) auto repeat(2, 3vw) 4vw;
    }
    
    .main-image.about-me {
        grid-column: 2 / 7;
        grid-row: 1 / 4;

        width: 70%;
    }
    
    .main-title.about-me {
        grid-row: 2 / 3;
        grid-column: 5 / -2;
    
        align-self: self-end;
        font-size: 3vw;
        margin: 0;
    } 
    
    .main-subtitle.about-me {
        grid-row: 3 / 4;
        grid-column: 5 / -2;
        
        font-size: 2vw;
        max-width: 60vw;
    }

    .longtxt.about-me {
        grid-column: 4 / -2;

        font-size: 2vw;
        max-width: 75vw;
    }
}